@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --primary-color: #22273b;
    --secondary-color: #31374e;
    --accent-color: #454c67;
    --text-color-dark: #2e2e2f;
    --text-color-light: #ffffff;

}

/* scrollbar on the root <html> or <body> element */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px; 
}

/* Track */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--secondary-color); 
}

/* Handle */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--accent-color); 
  border-radius: 6px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: var(--primary-color);
    font-size: 18px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

body {
    color: var(--text-color-light);
}

.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);
    color: var(--text-color-light);
    box-shadow: 0 0 5px 0 rgb(35, 40, 44);

}

.header i {
    padding: 25px;
    font-size: 30px;
    transition: .3s ease;
    color: rgb(137, 137, 137);

}

.header i:hover{
    color: rgb(255, 255, 255);
}

.timer {
  font-size: 26px;
  margin-bottom: 20px;
}


#body-section {
    display: flex;
    justify-content: flex-start;
}

.container,
.records-container,.stats {
    margin: 20px;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s ease;
    width: auto;
}

.container-btns {
    margin-bottom: 10px;
}
select{
    background-color: var(--secondary-color);
    color: white;
}
.button {
    width: 100px;
    padding: 10px 15px;
    background:  var(--secondary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 10px;
    box-shadow: 2px 1px 8px var(--primary-color);
    transition: 0.3s ease;
}


.button:hover {
    background: #333e5c;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;

}

.popup-content {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup button {
    margin: 5px;
    background-color: var(--accent-color);
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.js-increment,
.js-decrement {
    height: 200px;
    width: 150px;
}

.records-container .button {
    font-size: 15px;
    width: 70px;
}

.js-input-grid,
.js-records-grid {
    width: auto;
    display: grid;
    grid-template-columns: 130px 90px 70px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: stretch;
}

.js-records-grid p {
    padding: 10px 15px;
    font-size: 15px;
    margin: 0;
    color: var(--text-color-light);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: #5f6788;
    transition: .5s ease;
}

.js-records-grid p:hover{
    border: 1px solid #b1dbe7;

}

.js-input-grid {
    margin-bottom: 10px;
}

.js-day-input,
.js-count-input,.js-date-input {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #80a5c588;
}

.weekly-avg {
    margin-top: 10px;
}

.dialog-box {
    margin-top: 10px;
}

.dialog-box input {
    width: 100px;
}

.dialog-box input,
button {
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
}

/* Login Form Design */











@media (max-width: 477px) {

    body {
        font-size: 20px;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 95%;
        align-items: center;
        padding: 10px;
        font-size: 18px;
    }

    .button {
        width: 94%;
        margin: 10px 0;

    }

    #body-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .records-container,
    .container {
        font-size: 1rem;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
    }

    .container-btns {
        display: flex;
        align-items: start;

    }

    .records-container .button {
        margin: 0;
        max-width: none;
    }

    #body-section>div.container>button {
        margin-left: 10px;
        margin-right: 10px;

    }

    .js-input-grid,
    .js-records-grid {
        grid-template-columns: 130px 100px 70px;
        column-gap: 10px;
        row-gap: 10px;
        align-items: stretch;
    }

    .dialog-box {
        margin: 0;
    }

    .dialog-box input,
    button {
        margin: 5px 10px 0 0;
    }

    .container-btns .button {
        height: 200px;
        margin: 0 10px 0 10px;
    }
}