body {
    overflow: hidden;
    background-color: rgb(10, 26, 41);
    font-size: 15px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body p {
    color: #170027;
}

.header {
    padding: 0 20px;
    display: flex;
    background-color: #163547;
    color: white;
    box-shadow: 0 0 5px 0 rgb(188, 223, 253);

}

#body-section {
    display: flex;
    justify-content: flex-start;
}

.container,
.records-container {
    margin: 20px ;
    background-color: #80a5c5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 2px #80a5c588;
    transition: 0.3s ease;
}

.container-btns {
    margin-bottom: 10px;
}

.button {
    width: 100px;
    padding: 10px 15px;
    background-color: #0b423b;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.button:hover {
    background-color: #333e5c;
    transform: scale(1.05);
}



.records-container .button {
    font-size: 15px;
    width: 70px;
}

.js-input-grid,
.js-records-grid {
    width: 380px;
    display: grid;
    grid-template-columns: 100px 90px 70px 70px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: stretch;
}

.js-records-grid p {
    padding: 10px 15px;
    font-size: 15px;
    margin: 0;
    color: #12304b;
    border: 1px solid #b1dbe7;
    border-radius: 10px;
    background-color: rgb(188, 223, 253);
}

.js-input-grid {
    margin-bottom: 10px;
}

.js-day-input,
.js-count-input {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #80a5c588;
}

.weekly-avg {
    margin-top: 10px;
}

.dialog-box {
    margin-top: 10px;
}

.dialog-box input {
    width: 100px;
}

.dialog-box input,
button {
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
}

@media (max-width: 477px) {

    body {
        font-size: 20px;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 95%;
        align-items: center;
        padding: 10px;
        font-size: 18px;
    }

    .button {
        width: 94%;
        margin: 10px 0;

    }

    #body-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .records-container,
    .container {
        font-size: 1rem;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
    }
   
    .container-btns {
        display: flex;
        align-items: start;

    }   

    .records-container .button {
        margin: 0;
        max-width: none;
    }


    .js-input-grid,
    .js-records-grid {
        grid-template-columns: 100px 100px 70px 70px;
        column-gap: 10px;
        row-gap: 10px;
        align-items: stretch;
    }

    .dialog-box {
        margin: 0;
    }

    .dialog-box input,
    button {
        margin: 5px 10px 0 0;
    }

    .container-btns .button {
        height: 200px;
        margin: 0 10px 0 10px;
    }
}