:root {
    --primary-color: #013131;
    --secondary-color: #189d9d;
    --accent-color: #c4eeee;
    --text-color-dark: #000000;
    --text-color-light: #ffffff;

}

:root {
    /* Theme 1: Blue */
    --theme1-dark: #1e4965;
    --theme1-medium: #3c7692;
    --theme1-light: #74a8bf;
  
    /* Theme 2: Red */
    --theme2-dark: #2b0f0f;
    --theme2-medium: #b73030;
    --theme2-light: #de7777;
  
    /* Theme 3: Green */
    --theme3-dark: #335d2d;
    --theme3-medium: #5c8e51;
    --theme3-light: #8dc490;
  
    /* Theme 4: Purple */
    --theme4-dark: #4f2456;
    --theme4-medium: #8c4d8f;
    --theme4-light: #c0a0c9;
  
    /* Theme 5: Orange */
    --theme5-dark: #a46200;
    --theme5-medium: #d08c2a;
    --theme5-light: #f1c26d;
  
    /* Theme 6: Teal */
    --theme6-dark: #013131;
    --theme6-medium: #189d9d;
    --theme6-light: #a5afaf;
  
    /* Theme 7: Gray */
    --theme7-dark: #333;
    --theme7-medium: #666;
    --theme7-light: #999;
  }
  



body {
    overflow: hidden;
    background-color: var(--primary-color);
    font-size: 18px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body p {
    color: var(--text-color);
}

.header {
    padding: 0 20px;
    display: flex;
    background-color: var(--secondary-color);
    color: white;
    box-shadow: 0 0 5px 0 rgb(35, 40, 44);

}

#body-section {
    display: flex;
    justify-content: flex-start;
}

.container,
.records-container {
    margin: 20px;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s ease;
}

.container-btns {
    margin-bottom: 10px;
}

.button {
    width: 100px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s ease;
}


.button:hover {
    background-color: #333e5c;
    box-shadow: 2px 2px 4px #333e5c;
}

.js-increment,
.js-decrement {
    height: 200px;
    width: 150px;
}

.records-container .button {
    font-size: 15px;
    width: 70px;
}

.js-input-grid,
.js-records-grid {
    width: 380px;
    display: grid;
    grid-template-columns: 100px 90px 70px 70px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: stretch;
}

.js-records-grid p {
    padding: 10px 15px;
    font-size: 15px;
    margin: 0;
    color: #12304b;
    border: 1px solid #b1dbe7;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.js-input-grid {
    margin-bottom: 10px;
}

.js-day-input,
.js-count-input {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #80a5c588;
}

.weekly-avg {
    margin-top: 10px;
}

.dialog-box {
    margin-top: 10px;
}

.dialog-box input {
    width: 100px;
}

.dialog-box input,
button {
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
}


@media (max-width: 477px) {

    body {
        font-size: 20px;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 95%;
        align-items: center;
        padding: 10px;
        font-size: 18px;
    }

    .button {
        width: 94%;
        margin: 10px 0;

    }

    #body-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .records-container,
    .container {
        font-size: 1rem;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
    }

    .container-btns {
        display: flex;
        align-items: start;

    }

    .records-container .button {
        margin: 0;
        max-width: none;
    }

    #body-section > div.container > button {
        margin-left: 10px;
        margin-right: 10px;

    }

    .js-input-grid,
    .js-records-grid {
        grid-template-columns: 100px 100px 70px 70px;
        column-gap: 10px;
        row-gap: 10px;
        align-items: stretch;
    }

    .dialog-box {
        margin: 0;
    }

    .dialog-box input,
    button {
        margin: 5px 10px 0 0;
    }

    .container-btns .button {
        height: 200px;
        margin: 0 10px 0 10px;
    }
}